* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.container {
    width: 950px;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: #f1efef;
    padding: 0 50px;

    & .player {
        height: 50%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        & h2 {
            font-weight: 200;
        }

        & .cards {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin: 20px 0;
            flex-wrap: wrap;

            & .card {
                
                & .card-block:hover{
                    cursor: pointer;
                }

                & .card-block {
                    width: 100px;
                    height: 60px;
                    background-color: lightgray;
                    display: flex;


                    & div {
                        font-weight: lighter;
                        font-family: Arial, Helvetica, sans-serif;

                        text-align: center;
                        width: 50%;
                        font-size: 50px;
                    }
                }

                & .diamonds::after {
                    content: '\2666';
                }

                & .hearts::after {
                    content: '\2665';
                }

                & .clubs::after {
                    content: '\2663';
                }

                & .spades::after {
                    content: '\2660';
                }

                & .black {
                    color: black;
                }

                & .red {
                    color: red;
                }
            }

        }

    }



}