@import url('./desktop.css');
@import url('./mobile.css') screen and (min-width:320px) and (max-width:425px);
@import url('./tablet.css');

@font-face {
	font-family: 'El Messiri'; 
	src: url('../fonts/ElMessiri-Regular.woff'); 
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'El Messiri';
    color: white;
}

li {
    list-style: none;
}

/* Global style */

body {
    background: var(--bgc, #162831);
    margin: auto;
}

a,
button {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 42px;
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
}

h2::before {
    content: url('../img/img-1.svg');
    position: relative;
    top: -8px;
}

h2::after {
    content: url('../img/img-2.svg');
    position: relative;
    top: -8px;
}

button:hover {
    cursor: pointer;
}

.up {
    position: fixed;
    bottom: 75px;
    right: 50px;
    z-index: 1000;

}


.up img:hover {
    cursor: pointer;
    background-color: #02648b;
    border-radius: 50px;

}

.btn {
    background: #018ABE;
    border: none;
    padding: 9px 15px;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
    background: #02648b;
}

.logo {
    position: relative;
}

.logo>a>img.W {
    position: absolute;
    left: 13px;
    top: 13px;
}

.contact-cards {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-card-info {
    border-radius: 10px;
    padding: 35px 45px;
    height: 220px;
    background-color: #018ABE;
}

.contact-card-info h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.contact-card-info p {
    margin: 21px 0;
}

.contact-card-info p.addr::before {
    content: url('../img/location.svg');
    margin-right: 20px;
}

.contact-card-info p.metro::before {
    content: url('../img/metro.svg');
    margin-right: 20px;
}

.contact-card-info p.date-meeting::before {
    content: url('../img/calendar.svg');
    margin-right: 20px;
}

.contact-card-info button {
    color: #018ABE;
    padding: 9px 15px;
    border-radius: 3px;
    border: none;
}
