* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: sans-serif;
    color: white;
}

li {
    list-style: none;
}

/* Global style */

body {
    background: var(--bgc, #162831);
    width: 1297px;
    margin: auto;
}

a,
button {
    color: white;
}

main {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin: 50px 0;
    font-size: 42px;
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
}

h2::before {
    content: url('../img/img-1.svg');
    position: relative;
    top: -8px;
}

h2::after {
    content: url('../img/img-2.svg');
    position: relative;
    top: -8px;
}

button:hover {
    cursor: pointer;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.navigations ul {

    display: flex;
    gap: 50px;
}

.navigations a:hover {
    border-bottom: 1px solid white;
}

.btn {
    background: #018ABE;
    border: none;
    padding: 9px 15px;
    border-radius: 3px;
}

.btn:hover {
    cursor: pointer;
    background: #02648b;
}

/* Slider block */

.slider {
    height: 100%;
    display: block;
    margin: 20px 0 50px;
    height: 600px;
}

.slider img {
    position: absolute;
    margin: auto;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 100%;
}

.content h1 {
    font-size: 64px;
    width: 600px;
    text-align: center;
}

.content h3 {
    font-size: 24px;
}

/* Sessions block */

.sessions-block {
    margin: 50px auto;
}

.cards {
    padding: 50px 0;
    display: grid;
    grid-template-columns: 416px 416px 416px;
    grid-template-rows: repeat(2, 258px);
    gap: 24px;
}

.item {
    border-radius: 20px;
    background: url('../img/bg-card.png') no-repeat;
    background-size: contain;
    background-color: #00455f;
    background-position: 50%;
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 30px;
    border-radius: 10px;
    position: relative;
    border-bottom: 7px solid transparent;
    transition: border-bottom ease .35s;

}

.item:first-child {
    grid-area: 1 / 1 / 3 / 2;
    padding-bottom: 60px;
}

.item:hover {
    border-bottom: 7px solid #018ABE;
    cursor: pointer;
    border-radius: 10px;
}




/* Reviews block */

.reviews-block {
    display: flex;
    flex-direction: column;
}

.content-reviews {
    position: relative;
    left: 0;
    width: 100%;
}

.content-reviews ul {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

li .post {
    width: 500px;
    background-color: rgba(1, 138, 190, .3);
    height: 276px;
    padding: 40px 45px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post p {
    font-size: 14px;
    font-weight: 300;
    line-height: 140%;
}

li .post-active {
    width: 636px;
    background-color: #018ABE;
    height: 350px;
    padding: 55px 60px;
    color: white;
    border-radius: 10px;
    font-size: 14px;
}

li .post-active p {
    margin: 20px 0;
}

.post>p {
    color: rgba(255, 255, 255, 0.3);
    margin: 15px 0;
}

.post>h3 {
    color: rgba(255, 255, 255, 0.6);
}

.post-active h3 {
    color: white;
    font-size: 22px;
}

.post-active>p {
    color: white;
    font-size: 16px;
    font-weight: 300;
}

.controls {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    gap: 16px
}

.controls li {
    width: 16px;
    height: 16px;
    background-color: #737e83;
    border-radius: 5px;
}

.controls li:hover {
    cursor: pointer;
    transform: scale(1.1);
    background: #fff;
}

.controls li.active {
    background: white;
}

/* About block */

.about-block {
    margin: 100px 0;
}

.block-row {
    display: flex;
    margin: 100px 100px 0 100px;
    gap: 84px;

}

.block {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.block h3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
}

.block p {
    margin: 30px 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

/* Price block */

.price-block {
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
}

.price-content {
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.price-list {
    display: flex;
    align-items: center;
    justify-self: stretch;
}

.price-list ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 31px;
    width: 415px;
}

.price-list>ul>li {
    display: flex;
    justify-content: space-between;
}

.price-list>ul>li div:first-child:before {
    content: url('../img/img-1.svg');
    margin-right: 20px;
}

.cert-block-img {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.cert-block-img img {
    border-radius: 12px;
}

/* Contact block */
.contact-block {
    display: flex;
    gap: 48px;
    margin: 100px 0 60px;
}

.contact-map {
    width: 856px;
}

.contact-map iframe {
    border-radius: 10px;
}

.contact-cards {
    display: flex;
    flex-direction: column;
    width: 392px;
    gap: 24px;
}

.contact-card-info {
    border-radius: 10px;
    padding: 35px 45px;
    height: 220px;
    background-color: #018ABE;
}

.contact-card-info h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: 140%;
}

.contact-card-info p {
    margin: 21px 0;
}

.contact-card-info p.addr::before {
    content: url('../img/location.svg');
    margin-right: 20px;
}

.contact-card-info p.metro::before {
    content: url('../img/metro.svg');
    margin-right: 20px;
}

.contact-card-info p.date-meeting::before {
    content: url('../img/calendar.svg');
    margin-right: 20px;
}

.contact-card-info button {
    color: #018ABE;
    padding: 9px 15px;
    border-radius: 3px;
    border: none;
}


/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}